.exwod .section_container {
    width: calc(100% - 48px);
    max-width: 800px;
    padding: 12px;
    border:black;
    border-style: solid;
    border-width: 2px;
}

.exwod .five_dot_rating ,
.exwod .ten_dot_rating {
    display: flex;
    width: -webkit-fill-available;
    align-items: unset;
    justify-content: stretch;
}

.exwod .table-3-col-header{
    width: 100%;
    text-align: center;
}

.exwod .content-table{
    border: thin;
    width: calc(100% - 6px);
}

.exwod .content-table-column {
    width:33%;
}

/* Customize the label (the container) */
.exwod .exwod_dot_container {
    display: flex;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s;
}

.exwod .exwod_dotgrouping {
    width: -webkit-fill-available;
    display: contents;
    justify-content: flex-end;
    align-items: self-end;
}

.exwod .trait_label {
    display: flex;
}

.exwod .specialty {
    width: -webkit-fill-available;
    display: inline;
    color: darkgrey;
}

/* Hide the default radio button */
.exwod .hidden_input {
    /*display: none;*/
    width: 0;
    height: 0;
}
  
.exwod .exwod_dot {
    position: absolute;
    top: 0;
    left: 0;
    width: .9em;
    height: .9em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.exwod .exwod_dot_container:hover input ~ .exwod_dot {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a black background */
.exwod .exwod_dot_container input:checked ~ .exwod_dot {
    background-color:black;
}